<div class="row">
  
<div id="container" class="js-masonry"
  data-masonry-options='{"itemSelector": ".col-md-4" }'>

<% @collection.recipes.each do |recipe| %>		
	<div class="col-md-4">
			<div class="thumbnail">
				<% if recipe.name.nil? %>
				<%= image_tag "http://placehold.it/350x200" %>
				<% else %>
				<%= image_tag "#{recipe.image_url}" %>
				<% end %>
				<div class="caption">
				<h3><%= recipe.name %></h3>
				<h5>Ingredients: <%= recipe.ingredient %></h5>
				<a href="<%= recipe.instruction_url %>" class="btn btn-info" role="button">Get Recipe on Yummly!</a>
				<div class="addAndRemove"><%= link_to "", remove_recipe_path(id: recipe.id), :class => "glyphicon glyphicon-remove", :style=> "text-decoration: none; color: #FC4349;"  %></div>
				</div>
			</div>
		</div>
	<% end %>

   <a href="#top" id="top-link"><h2><span class="glyphicon glyphicon-arrow-up"></span></h2></a>

</div>
</div>